<!-- Add explanation once someone signed up -->
<div class="p-4 my-auto text-center text-gray-400">

  <div class="relative overflow-hidden rounded shadow-xl carousel">
    <div class="relative w-full overflow-hidden carousel-inner">
      <!--Slide 1-->
      <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
        checked="checked">
      <div class="absolute bg-center opacity-0 carousel-item" style="height:500px; background-image: url(https://mdbootstrap.com/img/new/slides/052.jpg)">
        <!-- PICTURE TO ADD WITH EXPLANATION -->
      </div>
      <label for="carousel-4"
        class="absolute inset-y-0 left-0 z-10 flex content-center justify-center hidden w-10 h-10 my-auto ml-2 font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer control-1 md:ml-10 hover:text-white hover:bg-blue-700"><i
          class="mt-3 fas fa-angle-left"></i></label>
      <label for="carousel-2"
        class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-1 md:mr-10 hover:text-white hover:bg-blue-700"><i
          class="mt-3 fas fa-angle-right"></i></label>

      <!--Slide 2-->
      <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
      <div class="absolute bg-center opacity-0 carousel-item" style="height:500px; background-image: url(https://mdbootstrap.com/img/new/slides/043.jpg)">
        <!-- PICTURE TO ADD WITH EXPLANATION -->
      </div>
      <label for="carousel-1"
        class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer control-2 md:ml-10 hover:text-white hover:bg-blue-700"><i
          class="mt-3 fas fa-angle-left"></i></label>
      <label for="carousel-3"
        class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-2 md:mr-10 hover:text-white hover:bg-blue-700"><i
          class="mt-3 fas fa-angle-right"></i></label>

      <!--Slide 3-->
      <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
      <div class="absolute opacity-0 carousel-item" style="height:500px; background-image: url(https://mdbootstrap.com/img/new/slides/054.jpg)">
      <!-- PICTURE TO ADD WITH EXPLANATION -->
      </div>
      <label for="carousel-2"
        class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer control-3 md:ml-10 hover:text-white hover:bg-blue-700"><i
          class="mt-3 fas fa-angle-left"></i></label>
      <label for="carousel-4"
        class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-3 md:mr-10 hover:text-white hover:bg-blue-700"><i
          class="mt-3 fas fa-angle-right"></i></label>

            <!--Slide 4-->
      <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
      <div class="absolute opacity-0 carousel-item" style="height:500px; background-image: url(https://mdbootstrap.com/img/new/slides/044.jpg)">
      <!-- PICTURE TO ADD WITH EXPLANATION -->
      </div>
      <label for="carousel-3"
        class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer control-4 md:ml-10 hover:text-white hover:bg-blue-700"><i
          class="mt-3 fas fa-angle-left"></i></label>
      <label for="carousel-1"
        class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-4 md:mr-10 hover:text-white hover:bg-blue-700"><i
          id="last-explanation" class="mt-3 fas fa-angle-right"></i></label>

      <!-- Add additional indicators for each slide-->
      <ol class="carousel-indicators">
        <li class="inline-block mr-3">
          <label for="carousel-1"
            class="block text-4xl text-white cursor-pointer carousel-bullet hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="carousel-2"
            class="block text-4xl text-white cursor-pointer carousel-bullet hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="carousel-3"
            class="block text-4xl text-white cursor-pointer carousel-bullet hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="carousel-4"
            class="block text-4xl text-white cursor-pointer carousel-bullet hover:text-blue-700">•</label>
        </li>
      </ol>

    </div>
  </div>

</div>
