<div class="p-4 text-gray-400 text-center my-auto">
  <h4 class="font-bold"> Who are we? </h4></br>
  <p>Travel lovers, we have developped a tool to organize one's trip and find activities and points of interests around us. </p></br>
  We hope that you will enjoy Lucette as much as we do ! </p>
</div>
<!-- CGU in progress -->
<div class="p-4 font-bold text-white my-auto text-center">
  <a href="mailto:contact@lucette-travel.work" target="_blank">Contact us <i class="far fa-envelope"></i></a>
</div>

